* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


header{
    display: flex;
    justify-content: space-between;
    background-color: #b44545;
    padding: 20px;
}

header h1{
    color: white;
}
.dashboard-layout{
    display: flex;
    max-width: 100%;
    height: 85vh;
}

header a{
    text-decoration: none;
    color: white;
}
.dashboard-nav ul li {
    text-decoration: none;
    max-height:20px;
}

.dashboard-nav{
    background-color: #b44545;
    max-width: 30%;
}

.dashboard-nav ul li a{
    text-decoration: none;
    margin: 20px;
    color: white;
    font-weight: bold;
}

.dashboard-nav ul{
    margin-left: 15px;
    align-items: end;
    text-decoration: none;
    
}

.dashboard{
    width: 70%;
}

.top, .bottom{
    display: flex;
    background-color: #f4f4f4;
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #b44545;
    }


section{
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: white;
}

footer{
    text-align: center;
}

footer p{
    color: #b44545;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f4f4f4;
}

#login form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 300px;
}

#login h2 {
    margin-bottom: 20px;
    color:#b44545;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

#login label {
    display: block;
    margin-bottom: 5px;
    color: #b44545;

}

#login input, #login select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#login button {
    width: 100%;
    padding: 10px;
    background-color: #b44545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.switch-view {
    text-align: center;
    margin-top: 15px;
}


